/*  your css code here. If applicable */
body{
	display:flex;
	align-items:center;
	justify-content:center;
	height:500px;
}
#line{
	position:absolute;
	widthL:200px;
	height:2px;
	background-color:rgb(0,0,0);
}
hr{
	width:300px;
	height:2px;
}